[submodule "external/nanogui"]
	path = external/nanogui
	url = https://github.com/mitsuba-renderer/nanogui.git
[submodule "external/ponca"]
	path = external/ponca
	url = https://github.com/poncateam/ponca.git
